.heroText {
  font-size: 4rem;
  font-family: "Comfortaa", sans-serif;
  color: #3f3d56;
  margin-bottom: 5px;
}

.heroWrapper {
  display: flex;
  justify-content: space-evenly;
  background-color: #ffffc7a6;
  min-height: 100vh;
}

.subhead {
  font-size: 1.8rem;
  color: gray;
  font-style: italic;
  margin-top: 5px;
  margin-bottom: 60px;
}

.container {
  padding: 7%;
}

.heroWrapper img {
  width: 90%;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.buttonWrapper a {
  padding: 10px;
  background-color: #3ac76e;
  color: white;
  border-radius: 50px;
  border-style: solid;
  border-color: #3ac76e;
  font-weight: bold;
  margin: 10px 0;
  width: 60%;
  font-size: 1.2rem;
  text-decoration: none;
  text-align: center;
}

.buttonWrapper a:nth-child(2) {
  background-color: transparent;
  color: #3ac76e;
}

.imageWrap,
.textWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .heroWrapper {
    padding: 7px;
    display: flex;
    flex-direction: column;
  }

  .heroText {
    font-size: 2.5rem;
  }

  .subhead {
    font-size: 1.2rem;
  }

  .buttonWrapper button {
    font-size: 1rem;
    align-items: center;
    width: 100%;
  }
}
